.flex-container{
    display: flex;

    background: #eeff44;
    justify-content: center;
    flex-wrap: wrap;
}


.flex-item{
    width: 150px;
    height: 150px;
    background: rgb(151, 54, 54);
    border: 1px solid #5f5f5f;
    font-size: 30px;

}