*,
*:after,
*:before {
	box-sizing: border-box;
	color: #fff;
}
/* = iconmoon В конце проекта надо оставить только использующиеся иконки=*/
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?6jdr41');
	src:  url('../fonts/icomoon.eot?6jdr41#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?6jdr41') format('truetype'),
	  url('../fonts/icomoon.woff?6jdr41') format('woff'),
	  url('../fonts/icomoon.svg?6jdr41#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }

@font-face {
  font-family: 'FREESCPT';
  src: url('../fonts/FREESCPT.eot');
  src: url('../fonts/FREESCPT.eot') format('embedded-opentype'), url('../fonts/FREESCPT.woff2') format('woff2'), url('../fonts/FREESCPT.woff') format('woff'), url('../fonts/FREESCPT.ttf') format('truetype'), url('../fonts/FREESCPT.svg#FREESCPT') format('svg');
  }
  
  [class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  }

  .icon-linkedin:before {
	content: "\e900";
  }
  .icon-twitter:before {
	content: "\e901";
  }
  .icon-facebook:before {
	content: "\e902";
  }
  .icon-phone:before {
	content: "\e942";
  }
  .icon-envelop:before {
	content: "\e945";
  }
  .icon-location2:before {
	content: "\e948";
  }
  .icon-search:before {
	content: "\e986";
  }
  .icon-circle-up:before {
	content: "\ea41";
  }
  .icon-circle-right:before {
	content: "\ea42";
  }
  .icon-circle-down:before {
	content: "\ea43";
  }
  .icon-circle-left:before {
	content: "\ea44";
  }
  .icon-google-plus3:before {
	content: "\ea8d";
  }
  .icon-dribbble:before {
	content: "\eaa7";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
/* = iconmoon =*/

/* Для шрифтов, глобально*/
body {
	margin: 0;
    font-family: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 1.2;
}
.header p {
	color: black;
}
li, a {
    list-style: none;
    text-decoration: none;
}
.container {
	width: 100%;
    max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/*=====header===================*/

.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 70px;
    padding: 15px;
    margin: 20px 0;
}
.mobile-menu__checkbox{
    opacity: 0;
}
.mobile-menu__btn{
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
}
.mobile-menu__burg{
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #5363db;
}
.mobile-menu__burg:after,
.mobile-menu__burg:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #5363db;
}
.mobile-menu__burg:after{
    top: 8px;
}
.mobile-menu__burg:before{
    top: -8px;
}
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 70px;
    transition: 0.5s;
    pointer-events: none;
	opacity: 0;
	font-weight: 700;
}
.menu a {
    font-size: 25px;
    color: #555;
	line-height: 50px;
	transition: .5s;
}
.menu a:hover{
    color: #5363db;
    transition: color .3s linear;
}
.mobile-menu__checkbox:checked ~ .menu{
    pointer-events: auto;
	opacity: 1;
	z-index: 20;
	background: #fff;
}

@media screen and (min-width: 768px) {
    .menu{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        text-align: center;
        top: 0;
        margin-top: 0;
        transition: 0.5s;
        pointer-events: auto;
        opacity: 1;  
    }
    .menu a{
		position: relative;
        font-size: 14px;
        font-weight: 700;
		color:#555;
		transition:.3s;
    }
    .menu li:not(:last-child){
        margin-right: 30px;
    }
    .menu a:after{
		content: "";
		transform: translateX(-50%);
        display: block;
        display: none;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: #5363db;
        top: 100%;
        left: 50%;
		z-index: 1;
		transition: color .3s linear;
    }
    .menu a:hover:after{
        display: block;
		transition: color .3s linear;
		color: #5363db;
    }
    .mobile-menu__btn{
        display: none;
    }

}

 /*-==============BLOCK BANNER=============
 ==========================================*/	
.banner {
	color: #fff;
	position: relative; 
}
.banner:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(75, 98, 228, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2; 
}
.banner,
.block:before {
	background: url(../img/bg-01.jpg);
	background-size: cover;
	background-position: center; 
}
.block {
	padding: 100px 0 110px;
	position: relative; 
}
.block:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	filter: grayscale(1);
	position: absolute;
	top: 0;
	left: 0;
}
.same-banner {
	display: flex;
	flex-direction: row;
	padding-left: 230px;
	position: inherit;
	z-index: 10;
}
.block-form {
	width: 300px;
	margin-right: 90px;
	padding: 40px 40px 35px 34px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	background: #fff;
}
.block-form h2 {
	font-size: 1.8em;
	text-transform: capitalize;
	margin-bottom: 31px;
	color: #5363d8;
}
.form-group:nth-of-type(-n+2) {
	margin-bottom: 17px;
}
.form-group:nth-of-type(3) {
	margin-bottom: 32px;
}
.form-group {
	position: relative;
}
.banner .block-form .form-group .name.error,
.banner .block-form .form-group .tel.error {
	border: 1px solid red;
}
.banner .block-form .form-group .name.valid,
.banner .block-form .form-group .tel.valid {
	border: 1px solid #5363d8;
	border-radius: 5px;
}

.banner .block-form .form-group input[type="text"],
.banner .block-form .form-group input[type="tel"] {
	border: 1px solid transparent;
}
.banner .block-form .form-group input[type="text"],
.banner .block-form .form-group input[type="tel"],
.banner .block-form .form-group select {
	width: 100%;
	height: 50px;
	background: #f2f2f2;
	color: #888;
	padding-left: 10px;
	border-radius: 6px;
}
.form-group select {
	border: 0;
	background-size: 11px 6px;
	background-position: top 23px right 10px;
	background-repeat: no-repeat;
}
.form-group select option {
	background: #f2f2f2;
	color: #5363d8;
}
.btn-form {
	font-size: 15px;
	font-weight: 600;
	width: 170px;
	height: 50px;
	background: #5b6ceb;
	border: 0;
	border-radius: 8px;
	color: #fff;
}
.btn-form:hover {
	background: #475bf1;
	box-shadow: 3px 3px 0 0 rgba(219, 219, 219, 0.7);
	transition: .5s linear;
}
.btn-form:after{
	cursor: pointer;
}
.form-group:nth-child(3) {
	border-radius: 6px;
	background: #f2f2f2;
}
.form-group:last-of-type {
	text-align: center;
}
.block-banner {
	padding-top: 55px;
}
.block-banner h1 {
	font-size: 45px;
	line-height: 1.5;
	font-weight: 700;
	margin-bottom: 27px;
	text-transform: uppercase;
}
.block-banner p {
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 0; 
	font-family: 'FREESCPT';
}
  
  @media (max-width: 768px) {
	.block {
		padding: 100px 0 30px; }
	.same-banner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	
	}
	.block-form {
		width: 80%;
		margin: 0; 
	} 
	.block-banner{
		text-align: center;
	}
	}
	
  @media (max-width: 1199px) {
	.same-banner {
		  padding-left: 50px; 
		}
	}


/* === Gallery block === */
.gallery_block {
	display: flex;	
}
.gallery_block .container{
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
}
.gallery_img {
	max-width: 25%;
	background-color: #f00;
	position: relative;	
}
.gallery_img img {
	width: 100%;
	border: 0;
}
.gallery_img::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(91, 108, 235, 0.5);
	opacity: 0;
	transition: 0.4s;
}
.gallery_img:hover::before {
	opacity: 1;
}
.gallery_img:hover::after {
	content: "\e986";
	font-family: 'icomoon';
	position: absolute;
	top: 50%;		
	left: 50%;	
}


@media (max-width: 769px) {
	.gallery_img {
		max-width: 50%;
	}
}


/* === Slider block ===*/
.slider_block {
	display: flex;
	justify-content: space-between;
	padding: 175px 0;
}
.slider_content {	
	margin-right: 15px;
}
.slider_block .container {
	color: black;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.slider_content h3 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #5b6ceb;
	padding: 21px 0;
}
.slider_content p {
	color: #555555;
	text-align: left;
	max-width: 470px;
	line-height: 1.6;
}
.slider_gallery{
	max-width: 570px;
	box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);	
}
.slider_item img {
	max-width: 570px;
	height: 300px;
}



/* = Slick_Slider = */
.slick-prev:before {
	content: "\ea44";
	font-family: 'icomoon';
	font-size: 50px;
	color: #5b6ceb;
}
.slick-next:before {
	content: "\ea42";
	font-family: 'icomoon';
	font-size: 50px;
	color: #5b6ceb;
}
.slick-prev {
	z-index: 2;
    left: -25px;
    top: 45%;
}
 .slick-next {
	right: 5px;
	top: 45%;
 }


@media (max-width: 769px) {
	.container {
		max-width: 100vw;
		padding: 0 15px;
		margin: 0 auto;
	}
	.slider_block .container {
		justify-content: center;
	}
	.slider_block {
		padding: 30px 0;
		margin-top: 50px;
	}
	.slider_content h3 {
		padding: 10px 0;
		font-size: 20px;
	}
	.slider_content p {
		max-width: 100%;
		font-size: 16px;	
	}
	.slider_content {
		padding-bottom: 10px;
		margin: 0;	
	}
	.slider_gallery {
		max-width: 70%;
		margin: 20px 0;
	}
	.slider_item img {
		max-width: 100%;
		height: auto;	
	}
	.slick-prev:before,
	.slick-next:before {
		font-size: 30px;
	}
	.slick-prev {
		left: 0;
	}
	 .slick-next {
		right: 10px;
	 }
}


/* === Health  Block ===*/
.health {
	background-color: #5363db;
	display: flex;
	justify-content: center;
	background: url(../img/bg-02.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}
.health:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #5363db;
	opacity: 0.6;
	z-index: 1;
}
.health .container {
	padding: 125px 0 79px 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
    z-index: 2;
}
.card {
	max-width: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 54px;
	margin: 0 15px;
}
.icon_block {
	width: 70px;
	height: 70px;
	border: 2px solid white;
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 27px;
}
.icon_block img {
	max-width: 60%;
	height: auto;
}
.icon_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	color: #fff;
}
.icon_content h3 {
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	margin-bottom: 12px;
	max-width: 181px;
	display: flex;
	flex-grow: 1;
}
.icon_content p {
	font-size: 16px;
	line-height: 1.688;
}
 
@media (max-width: 769px) {
	.health .container {
		padding: 50px 0 0;
	}
	.card {
		padding-bottom: 30px;
	}
	.icon_content h3 {
		font-size: 14px;
	}
}


/* ==== Price Block ===*/
.price {
	max-width: 100vw;
	background-color: #ff92ce;
	display: flex;
	justify-content: center;
	background: url(../img/bg-03.jpg) no-repeat right bottom;
}
.price .container {
	max-width: 1200px;
	padding: 70px 0 78px 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.price_card {
	max-width: 370px;
	margin: 30px 15px;
	box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 0 0;
	transition: .5s;
}
.price_card:hover {
	box-shadow: 0px 9px 50px 0px rgba(83, 99, 219, 0.65);
	transform: scale(1.02, 1.02);
}
.price_blue_block {
	background-color: #5363db;
	border-radius: 10px 10px 0 0;
	color: #fff;
}
.price_blue_block p {
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 50px 0;
	margin-left: 30px;
}
.sup {
	font-size: 32px;
	font-weight: bold;
	align-self: center;
}
.cyfra {
	font-size: 67px;
	font-weight: bold;
	line-height: 0.674;
	padding: 0 5px 0 15px;
}
.sub {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
.price_white_block {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	
}
.price_white_content {
	display: flex;
	flex-direction: column;
	align-items: center;	
	
}
.price_description {
	display: flex;
    flex-direction: column;
    padding: 45px 70px 45px 70px;
}
.price_description li {
	color: black;
	list-style: none;
	text-transform: uppercase;
	font-size: 16px;
	width: 229px;
	border-bottom: 1px solid #fba;
	letter-spacing: 1.2px;
}
.price_description li:first-child {
	padding-bottom: 23px;
}
.price_description li:nth-child(2n) {
	padding: 23px 0;
}
.price_description li:last-child {
	border-bottom: none;
	padding-top: 24px;
}
.buy_btn {
	text-decoration: none;
    color: #fff;
    background-color: #5363db;
    margin-bottom: 50px;
    width: 170px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 0;
    border-radius: 20px;
    transition: 0.3s;
}
.buy_btn:hover {
	transform: scale(1.2, 1.2);
}

@media (max-width: 769px) {
	.price_description {
		padding: 50px 40px;
	}
	.price_blue_block p  {
		margin-left: 0;
		padding: 35px 0;
	}
	.price .container {
		padding: 0px;
	}
	.sup {
		font-size: 25px;
	}
	.cyfra {
		font-size: 40px;
		font-weight: bold;
		line-height: 0.674;
		padding: 0 5px 0 15px;
	}
	.sub {
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
	}
}

 /*=========Footer=============*/

.footer {
	background-color: #5b6ceb;
	padding: 96px 0 0 0;
}
.footer_cont {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer_about h3,
.footer_contact_us h3 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 53px;
}
.footer_about {
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
}
.footer_about p {
	max-width: 470px;
    line-height: 1.571;
	text-align: left;
	padding-right: 15px;
}
.footer_social {
	padding-top: 65px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 170px;
}
.footer_social a {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
}
.footer_social a:hover {
	
	opacity: 0.5;
}
.footer_social i{
	font-size: 30px;
	
}
.icon-pinterest {
	color: #000;
}
.footer_contact_us {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	padding-left: 20px;
}
.icon_footer_list1, 
.icon_footer_list2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.icon_footer_list1 li,
.icon_footer_list2 li {
	position: relative;
    width: 200px;
	padding: 0px 0 36px 36px;
	/*margin-right: 85px;*/
}
.icon_footer_tel li{
	padding: 0 0 10px 0;
}
.footer_contact_us i {
	font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
.footer_contact_us a {
	transition: .3s;
}
.footer_contact_us a:hover {
	color: #555;
}
.footer_copyright {
	background-color: #5363d8;
	text-align: center;	
}
.footer_copyright p {
	padding: 40px 0;
	color: #b7bffc;
	padding: 43px 0;
    color: #b7bffc;
    font-size: 16px;
}

@media (max-width: 769px) {
	.footer {
		padding: 40px 0;
	}
	.footer_about,
	.footer_contact_us {
		width: 100%;
	}
	.footer_about p {
		max-width: 100%;
	}
	.footer_social {
		padding-top: 30px;
		max-width: 200px;
	}
	.footer_about h3,
	.footer_contact_us h3 {
		padding-bottom: 30px;
	}
	.icon_footer_list1 li,
	.icon_footer_list2 li {
		margin-right: 30px;
	}
	.footer_copyright p {
		padding: 20px 0;
	}
}





  